* {
  box-sizing: border-box;
}
p{
  font-family: 'Cormorant Upright', serif;
  font-size: 20px;
  font-weight: bold;
  color: #53af90;
}
body {
  font-size: 16px;
  line-height: 20px;
  color: #53af90;
  font-family: 'Clicker Script', cursive;
}

h1 {
  color: #53af90;
  margin-left: 20px;
  font-weight: bold;
  font-family: 'Petit Formal Script', cursive;
}

h4 {
  color: #ffffff;
  background-color: #53af90;
  margin-left: 10px;
  font-family: 'Clicker Script', cursive;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.882);
  border: 1px solid #cccccc;
  z-index: 1;
}

#name {
  float: left;
  left: 80px;
  position: relative;
  Padding: 20px;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bolder;
  font-size: 30px;
  color: #53af90e6;
}

a {
  color: #53af90;
}

li {
  padding: 5px;
  float: left;
  border-right: .10px solid #777777;
  list-style: none;
}

nav {
  float: right;
  position: relative;
  top: 15px;
  right: 90px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Petit Formal Script', cursive;
}

#contact {
  float: left;
}

img {
  float: left;
  padding: 10px;
  height: 250px;
  width: 250px;
  
}
#profile{
  padding: 10px;
  height: 250px;
  width: 200px;
}
#giticon{
  height: 50px !important;
  width: 50px !important;
  float: left;
}
#about {
  position: relative;
  left: 130px;
  top: 100px;
  width: 960px;
  height: 500px;
  padding: 20px;
  border: 1px solid #cccccc;
  overflow: auto;
  clear: both;
  color: #53af90;;
  background: rgba(255, 255, 255, 0.882);
}

#contactbox {
  position: relative;
  left:130px;
  top: 100px;
  width: 960px;
  height: 500px;
  padding: 20px;
  border: 1px solid #cccccc;
  overflow: auto;
  clear: both;
  color: #777777;
  background:rgba(255, 255, 255, 0.882);
}

#portfoliobox {
  margin-top: -20px;
  position: relative;
  left: 130px;
  top: 100px;
  width: 932px;
  height: 600px;
  padding: 20px;
  padding-left:75px;
  border: 1px solid #cccccc;
  overflow: auto;
  clear: both;
  color: #777777;
  background:rgba(255, 255, 255, 0.882);
}

#hangman {
  position: fixed;
  width: 23.4%;
  top: 280px;
  padding: .1px;
  background-color: #53af90;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  clear: both;
  border-top: 3px solid #53af90e6;
  background: rgba(255, 255, 255, 0.882);
}
form{
  width: 50%;
  position: absolute;
  right: 25px;
  top: 98px;
}
input[type=text],
select,
textarea {
  font-size: 16px;
  font-family: 'Cormorant Upright', serif;
  color: #777777;
  width: 98%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type=submit] {
  background-color: #53af90;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Cormorant Upright', serif;
}

input[type=submit]:hover {
  background-color: #53af90;
}

.container {
  border-radius: 5px;
  padding: 8px;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  float: left;
}

.centered {
  background-color: #53af90;
  width: 93%;
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 10px 3px;
}
#centered {
  background-color: #53af90;
  width: 93.5%;
  position: absolute;
  top: 79%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  
  margin-left: 3px;
}
iframe{
  margin-left:3px;
  padding: 7px 7px;
}
@media screen and (max-width:980px) {
  #about {
      left: 50px;
      width: 75%;
      height: 80%;
  }

  #contactbox {
      width: 70%;
      left: 50px;
  }
  form{
    width: 100%;
    position: relative;
    padding-left: 30px;
    top: 20px;
    }
    
  nav {
      float: right;
      top: 10px;
      right: 40px;
  }
  #portfoliobox {
      top: 100px;
      left: 60px;
      width: 70%;
  }
  header {
      width: 980px;
  }
  footer {
      width: 980px;
  }
  .img-container {
      width: 50%;
      height: 50%;
  }
  #name {
      left: 60px
  }
  .centered {
      width: 82%;
      left: 45%;
  }
  img {
      height: 100%;
      width: 100%;
      float: left;
  }
  h1 {
      text-align: left;
  }
}

@media screen and (max-width: 768px) {
  #about {
      height: 80%;
      width: 75%;
  }
  #contactbox {
      width: 90%;
      left: 50px;
  }
  form{
    width: 100%;
    position: relative;
    padding-left: 30px;
    top: 20px;
  }
  nav {
      float: right;
      top: 10px;
      right: 40px;
  }
  #profile {
      height: 250px;
      width: 200px;
  }
  #portfoliobox {
      top: 100px;
      left: 80px;
      width: 80%;
      align-items:
  }
  header {
      width: 768px;
  }
  footer {
      width: 768px;
  }
  .img-container {
      width: 50%;
      height: 50%;
  }
  #name {
      left: 60px
  }
  .centered {
      width: 82%;
      left: 45%;
  }
  img {
      height: 100%;
      width: 100%;
      float: left;
  }
  h1 {
      text-align: left;
  }
}

@media screen and (max-width:640px) {
  #about {
      top: 120px;
      left: 80px;
      width: 80%;
  }
  #name {
      width: 100%;
      float: none;
      left: 0px;
      font-size: 24px;
      position: relative;
  }
  #portfoliobox {
      top: 130px;
      width: 75%;
      padding: 10px;
      height: 740px;
  }
  #contactbox {
      width: 80%;
      top: 130px;
      left: 70px;
  }
  form{
    width: 100%;
    position: relative;
    padding-left: 30px;
    top: 20px;
  }
  header {
      width: 640px;
      padding-bottom: 20px;
  }
  footer {
      width: 640px;
  }
  #profile {
      height: 250px;
      width: 200px;
  }
  nav {
      float: none;
      left: 15px;
      font-size: 18px;
      position: relative;
  }
  .img-container {
      width: 80%;
      height: 50%;
      float: none;
      padding-left: 30px;
      margin: 30px;
  }
  .centered {
      width: 85%;
      left: 54%;
      top: 250px;
  }
  img {
      height: 100%;
      width: 100%;
  }
  h1 {
      text-align: left;
  }
}

@media screen and (max-width:375px) {
  #about {
      top: 130px;
      left: 30px;
      width: 80%;
      padding-left: 5px;
      padding-right: 5px;
  }
  #name {
      width: 100%;
      float: none;
      left: 0px;
      font-size: 24px;
      position: relative;
  }
  #portfoliobox {
      top: 130px;
      width: 75%;
      padding: 10px;
      left: 40px;
  }
  #contactbox {
      width: 80%;
      top: 130px;
      left: 40px;
      height: 70%;
  }
  form{
    width: 100%;
    position: relative;
    padding-left: 30px;
    top: 20px;
  }
  header {
      width: 640px;
      padding-bottom: 20px;
  }
  footer {
      width: 640px;
  }
  #profile {
      height: 250px;
      width: 200px;
  }
  nav {
      float: none;
      left: 0px;
      font-size: 18px;
      position: relative;
      
  }
  .img-container {
      width: 100%;
      padding: 0px;
      margin: 0px;
  }
  .centered {
      width: 92%;
      left: 50%;
      top: 250px;
  }
  img {
      height: 100%;
      width: 100%;
      
  }
  h1 {
      text-align: left;
  }
}